.body {

    background-color: rgb(135, 36, 227);
    color: blue;
}

h1 {

    text-align: center;
    font-size: 100px;

}


h2 {

    font-size: 50px;

}



.cell {
    border: 10px outset rgb(191, 18, 113);
    background-color: rgb(177, 22, 120);
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 0;
}


.board {
    padding-top: 20%;
    margin: auto;
}